<div class="card m-6">
    <img style="height:200px; object-fit:cover;" src="/assets/img/about-bg.jpg" alt="about-bg" />
    <div style="padding:10px">
        <h4>About Me!</h4>
        <p style="margin:unset">
            Just me, myself and I, exploring the universe of unknownment. I have a heart of love and a interest.
        </p>
    </div>
</div>
