@page
@model FA.JustBlog.UI.Areas.Identity.Pages.Role.DeleteModel

@{
    ViewData["Title"] = "Delete Role";
    Layout = "~/Areas/Admin/Views/Shared/_ActionLayout.cshtml";
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <p>Are You Sure To Delete Role <strong>@Model.Input.Name</strong> </p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Input.Id">
            <input type="hidden" asp-for="isConfirmed">
            <a class="btn btn-primary" asp-page="./Index">Back To List</a>
            <button type="submit" asp-page="./Delete" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
