<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        .hit-the-floor {
            color: #fff;
            font-size: 12em;
            font-weight: bold;
            font-family: Helvetica;
            text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 
                         0 3px 0 #bbb, 0 4px 0 #b9b9b9, 
                         0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 
                         0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 
                         0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 
                         0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
        }

        .hit-the-floor {
            text-align: center;
            
        }

        body {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    <div class="hit-the-floor">404</div>

    <div class="alternative-versions absolute bottom-0 w-full flex justify-center underline space-x-4 p-12" style="text-align: center">
        <div style="font-family: Arial, Helvetica, sans-serif;">
            @RenderBody()

        </div>
        <a href="@Url.Action("Index", "Home")" style="display: flex; justify-content: center; align-items: center; color: #000; text-decoration: none;font-family: Arial, Helvetica, sans-serif;"
           target="_blank">
           <svg style="margin-right: 8px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
            </svg>
             Back To Home
        </a>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
